<div>
    <h2 id="page-heading">
        <span jhiTranslate="bkShKeyCodeApp.item.home.title">Items</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-item" [routerLink]="['/item/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="bkShKeyCodeApp.item.home.createLabel">
            Create a new Item
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="items?.length === 0">
        <span jhiTranslate="bkShKeyCodeApp.item.home.notFound">No items found</span>
    </div>
    <div class="table-responsive" *ngIf="items?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="timestamp"><span jhiTranslate="bkShKeyCodeApp.item.timestamp">Timestamp</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modificationDate"><span jhiTranslate="bkShKeyCodeApp.item.modificationDate">Modification Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="no"><span jhiTranslate="bkShKeyCodeApp.item.no">No</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="no2"><span jhiTranslate="bkShKeyCodeApp.item.no2">No 2</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="bkShKeyCodeApp.item.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="unitPrice"><span jhiTranslate="bkShKeyCodeApp.item.unitPrice">Unit Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="netWeight"><span jhiTranslate="bkShKeyCodeApp.item.netWeight">Net Weight</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="hsNo"><span jhiTranslate="bkShKeyCodeApp.item.hsNo">Hs No</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="hsDescription"><span jhiTranslate="bkShKeyCodeApp.item.hsDescription">Hs Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="hsComment"><span jhiTranslate="bkShKeyCodeApp.item.hsComment">Hs Comment</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isBlocked"><span jhiTranslate="bkShKeyCodeApp.item.isBlocked">Is Blocked</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="itemCategoryCode"><span jhiTranslate="bkShKeyCodeApp.item.itemCategoryCode">Item Category Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="productGroupCode"><span jhiTranslate="bkShKeyCodeApp.item.productGroupCode">Product Group Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="wsCategory3Code"><span jhiTranslate="bkShKeyCodeApp.item.wsCategory3Code">Ws Category 3 Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isGTIN"><span jhiTranslate="bkShKeyCodeApp.item.isGTIN">Is GTIN</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isOnlySpareparts"><span jhiTranslate="bkShKeyCodeApp.item.isOnlySpareparts">Is Only Spareparts</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isUsedForWebshop"><span jhiTranslate="bkShKeyCodeApp.item.isUsedForWebshop">Is Used For Webshop</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="applicationKind"><span jhiTranslate="bkShKeyCodeApp.item.applicationKind">Application Kind</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="strapType"><span jhiTranslate="bkShKeyCodeApp.item.strapType">Strap Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sealType"><span jhiTranslate="bkShKeyCodeApp.item.sealType">Seal Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="driveType"><span jhiTranslate="bkShKeyCodeApp.item.driveType">Drive Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="strapTensionMax"><span jhiTranslate="bkShKeyCodeApp.item.strapTensionMax">Strap Tension Max</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="strapWidth"><span jhiTranslate="bkShKeyCodeApp.item.strapWidth">Strap Width</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="strappingsPerDay"><span jhiTranslate="bkShKeyCodeApp.item.strappingsPerDay">Strappings Per Day</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="akkuType"><span jhiTranslate="bkShKeyCodeApp.item.akkuType">Akku Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="akkuBrand"><span jhiTranslate="bkShKeyCodeApp.item.akkuBrand">Akku Brand</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="akkuCapacitiy"><span jhiTranslate="bkShKeyCodeApp.item.akkuCapacitiy">Akku Capacitiy</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="akkuVoltage"><span jhiTranslate="bkShKeyCodeApp.item.akkuVoltage">Akku Voltage</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sealFixity"><span jhiTranslate="bkShKeyCodeApp.item.sealFixity">Seal Fixity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="speed"><span jhiTranslate="bkShKeyCodeApp.item.speed">Speed</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="motors"><span jhiTranslate="bkShKeyCodeApp.item.motors">Motors</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="strapThicknessMin"><span jhiTranslate="bkShKeyCodeApp.item.strapThicknessMin">Strap Thickness Min</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="strapThicknessMax"><span jhiTranslate="bkShKeyCodeApp.item.strapThicknessMax">Strap Thickness Max</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isInProductFinder"><span jhiTranslate="bkShKeyCodeApp.item.isInProductFinder">Is In Product Finder</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isFullyAutomaticTension"><span jhiTranslate="bkShKeyCodeApp.item.isFullyAutomaticTension">Is Fully Automatic Tension</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isWeldingByButton"><span jhiTranslate="bkShKeyCodeApp.item.isWeldingByButton">Is Welding By Button</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="buom.description"><span jhiTranslate="bkShKeyCodeApp.item.buom">Buom</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="suom.description"><span jhiTranslate="bkShKeyCodeApp.item.suom">Suom</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of items ;trackBy: trackId">
                <td><a [routerLink]="['/item', item.id, 'view' ]">{{item.id}}</a></td>
                <td>{{item.timestamp | date:'medium'}}</td>
                <td>{{item.modificationDate | date:'medium'}}</td>
                <td>{{item.no}}</td>
                <td>{{item.no2}}</td>
                <td>{{item.name}}</td>
                <td>{{item.unitPrice}}</td>
                <td>{{item.netWeight}}</td>
                <td>{{item.hsNo}}</td>
                <td>{{item.hsDescription}}</td>
                <td>{{item.hsComment}}</td>
                <td>{{item.isBlocked}}</td>
                <td>{{item.itemCategoryCode}}</td>
                <td>{{item.productGroupCode}}</td>
                <td>{{item.wsCategory3Code}}</td>
                <td>{{item.isGTIN}}</td>
                <td>{{item.isOnlySpareparts}}</td>
                <td>{{item.isUsedForWebshop}}</td>
                <td>{{item.applicationKind}}</td>
                <td>{{item.strapType}}</td>
                <td>{{item.sealType}}</td>
                <td>{{item.driveType}}</td>
                <td>{{item.strapTensionMax}}</td>
                <td>{{item.strapWidth}}</td>
                <td>{{item.strappingsPerDay}}</td>
                <td>{{item.akkuType}}</td>
                <td>{{item.akkuBrand}}</td>
                <td>{{item.akkuCapacitiy}}</td>
                <td>{{item.akkuVoltage}}</td>
                <td>{{item.sealFixity}}</td>
                <td>{{item.speed}}</td>
                <td>{{item.motors}}</td>
                <td>{{item.strapThicknessMin}}</td>
                <td>{{item.strapThicknessMax}}</td>
                <td>{{item.isInProductFinder}}</td>
                <td>{{item.isFullyAutomaticTension}}</td>
                <td>{{item.isWeldingByButton}}</td>
                <td>
                    <div *ngIf="item.buom">
                        <a [routerLink]="['/uom', item.buom?.id, 'view' ]" >{{item.buom?.description}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="item.suom">
                        <a [routerLink]="['/uom', item.suom?.id, 'view' ]" >{{item.suom?.description}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/item', item.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/item', item.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/item', { outlets: { popup: item.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="items?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
