<div class="sh-typing" [class.sh-typing-coded]="strappingHead$.status">
  <div class="sh-typing-content">
    <div class="handle">
      <img src="../../../assets/img/dots.svg">
    </div>
    <div class="sh-typing-content-check">
      <img *ngIf="!strappingHead$.status" (click)="changeCheck($event)" src="../../../assets/img/chkbox-false.svg">
      <img *ngIf="strappingHead$.status" src="../../../assets/img/chkbox-true.svg">
    </div>
    <div class="sh-typing-content-title">
      <input (blur)="changeLabel($event)" type="text" [(ngModel)]="strappingHead$.label" placeholder="Umreifungskopf Bezeichnung">
    </div>
  </div>
  <div class="delete" (click)="deleteStrappingHead($event)">
    <span>Löschen</span>
  </div>
</div>
