<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="itemStaging">
            <h2><span jhiTranslate="bkShKeyCodeApp.itemStaging.detail.title">Item Staging</span> {{itemStaging.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="bkShKeyCodeApp.itemStaging.timestamp">Timestamp</span></dt>
                <dd>
                    <span>{{itemStaging.timestamp}}</span>
                </dd>
                <dt><span jhiTranslate="bkShKeyCodeApp.itemStaging.item">Item</span></dt>
                <dd>
                    <div *ngIf="itemStaging.item">
                        <a [routerLink]="['/item', itemStaging.item?.id, 'view']">{{itemStaging.item?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/item-staging', itemStaging.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
