<app-template-header></app-template-header>
<div class="list-view">
  <h4>Bezeichnung dekodieren ( 5 )</h4>
  <div class="sh-elements">
    <app-template-sh-typing></app-template-sh-typing>
    <app-template-sh-typing></app-template-sh-typing>
    <app-template-sh-typing></app-template-sh-typing>
    <app-template-sh-typing></app-template-sh-typing>
    <app-template-sh-typing></app-template-sh-typing>
  </div>
  <app-template-sh-typing-form></app-template-sh-typing-form>
  <h4>Sortierschlüssel ( 2 )</h4>
  <div class="sh-elements">

  </div>
</div>

SSH32 DPEAR entspricht SH1-2345678910
