<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="rank">
            <h2><span jhiTranslate="bkShKeyCodeApp.rank.detail.title">Rank</span> {{rank.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="bkShKeyCodeApp.rank.timestamp">Timestamp</span></dt>
                <dd>
                    <span>{{rank.timestamp}}</span>
                </dd>
                <dt><span jhiTranslate="bkShKeyCodeApp.rank.prioValue">Prio Value</span></dt>
                <dd>
                    <span>{{rank.prioValue}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/rank', rank.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
