<div>
    <h2 id="page-heading">
        <span jhiTranslate="bkShKeyCodeApp.propPosition.home.title">Prop Positions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-prop-position" [routerLink]="['/prop-position/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="bkShKeyCodeApp.propPosition.home.createLabel">
            Create a new Prop Position
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="propPositions?.length === 0">
        <span jhiTranslate="bkShKeyCodeApp.propPosition.home.notFound">No propPositions found</span>
    </div>
    <div class="table-responsive" *ngIf="propPositions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="timestamp"><span jhiTranslate="bkShKeyCodeApp.propPosition.timestamp">Timestamp</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="posValue"><span jhiTranslate="bkShKeyCodeApp.propPosition.posValue">Pos Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="bkShKeyCodeApp.propPosition.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let propPosition of propPositions ;trackBy: trackId">
                <td><a [routerLink]="['/prop-position', propPosition.id, 'view' ]">{{propPosition.id}}</a></td>
                <td>{{propPosition.timestamp | date:'medium'}}</td>
                <td>{{propPosition.posValue}}</td>
                <td>{{propPosition.description}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/prop-position', propPosition.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/prop-position', propPosition.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/prop-position', { outlets: { popup: propPosition.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="propPositions?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
